<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Berry Growth Histogram</title>
    <style>
      body {
        text-align: center;
        background: #fafafa;
        color: #676767;
      }
      img {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
      }
      h2 {
        color: #222;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <h2>Berry Growth Time Distribution</h2>
    <img src="{{ img_data }}" alt="Histogram">
  </body>
</html>
